/*----------------------
Base
----------------------*/

html{
    box-sizing: border-box;
}

*, *::before,*::after{
    box-sizing: inherit;
}

/*----------------------
Éléments
----------------------*/

body{
    margin: 0px;
    padding: 0px;

    font-family: "Roboto", serif;

    font-size: 18px;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

a{
    text-decoration: none;


}

/*----------------------
Components
----------------------*/

/*Header*/

header{
    background-color: #f26c25;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

a p{
    font-size: 36px;
    font-weight: bold;
    color: white;

    margin: 0;
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
}

header nav a{
    color: white;
}

header nav a:hover{
    text-decoration: underline;
}

/*Section Bannière*/

.banniere{
    background-color: #EEEEEE;
}

.banniere .wrapper{
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 7.2px;
}

/*Section Transport*/

.titre-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    background-color: #EEEEEE;

    border: solid 1px #d0d0d0;

    margin-top: 80px;
    margin-bottom: 60px;
    padding: 15px;
}

.titre-section h2{
    font-size: 18px;
    font-weight: bold;
}

.conteneur-transport{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}


article{
    text-align: center;

}

h3{
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 0px;
}

/*Footer*/

footer h4{
font-weight: 400;
color: white;
align-items: center;
}

footer{
    background-color: black;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a{
    display: inline-block;
    width: 32px;
    height: 32px;
}

footer ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}



.facedebouk a{
    background-image: url("../images/facebook-nb.jpg");
}

.X a{
    background-image: url("../images/twitter-nb.jpg");
}

.zeldaedin a{
    background-image: url("../images/linkedin-nb.jpg");
}

.pintherest a{
    background-image: url("../images/pinterest-nb.jpg");
}

.facedebouk a:hover{
    background-image: url("../images/facebook-survol.jpg");
}

.X a:hover{
    background-image: url("../images/twitter-survol.jpg");
}

.zeldaedin a:hover{
    background-image: url("../images/linkedin-survol.jpg");
}

.pintherest a:hover{
    background-image: url("../images/pinterest-survol.jpg");
}


.conteneur-transport-invisible {
    display: none;
}